<div id="wrapper">
    <form class="form-signin">
        <div class="text-center">
            <img class="mb-4" src="assets/image/logo.png" alt="" width="72" height="72">
            <h1 class="h3 mb-3 font-weight-normal">Welcome to SoundScout!</h1>
        </div>

        <span>Enter your username</span>
        <input type="text" id="inputUsername" class="form-control" placeholder="Username" required="" autofocus="">

        <span>Please provide your email address</span>
        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="">

        <span>Create a password</span>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="">

        <span>Confirm your password</span>
        <input type="password" id="inputPasswordConfirm" class="form-control" placeholder="Password (confirm)" required="">

        <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
    </form>
</div>