<div class="container">
    <div class="card mt-5 border-5 pt-2 active pb-0 px-3">
        <div class="card-body ">
            <div class="row">
                <div class="col-12 ">
                    <h5 class="card-title text-success" *ngIf="isAdmin">Admin</h5>
                    <h4 class="card-title "><b>{{username}}</b></h4>
                </div>
                <div class="col">
                    <h6 class="card-subtitle mb-2 text-muted">
                        <p class="card-text text-muted small "> <img
                                src="https://img.icons8.com/metro/26/000000/star.png" class="mr-1 " width="19"
                                height="19" id="star"> <span class="vl mr-2 ml-0"></span> User since {{date}}</p>
                    </h6>
                </div>
            </div>
            <h6 class="card-title ">Email: {{email}}</h6>
        </div>
        <div class="card-footer bg-white px-0 ">
            <div class="row">
                <div class=" col-md-auto "> <a href="changePassword" class="btn btn-outlined btn-black text-muted bg-transparent"
                        data-wow-delay="0.7s"><img src="https://img.icons8.com/ios/50/000000/settings.png" width="19"
                            height="19"> <small> Change password</small></a> <i class="mdi mdi-settings-outline"></i>  
                            <span class="vl ml-3"></span>
                </div>
            </div>
        </div>
    </div>

    <div class="card mt-5 border-5 pt-2 active pb-0 px-3">
        <div class="card-body ">
            <div class="row">
                <div class="col-12 ">
                    <h4 class="card-title "><b>Your tickets</b></h4>
                </div>
            </div>
        </div>
        <div class="card-footer bg-white px-0 ">
            <div class="row">
                <ul class="list-group">
                    <li *ngFor="let ticket of tickets" class="list-group-item">{{ticket.event.eventName}} • {{ticket.event.Location.Name}} • {{ticket.event.Date}} • {{ticket.firstName}} {{ticket.lastName}} • Bought: {{ticket.datePurchased}} • {{ticket.event.Price}}$</li>
                </ul>
            </div>
        </div>
    </div>
</div>