<div class="container-flex">
    
    <h5>Select the artist to remove...</h5>
    
    <form (ngSubmit)="deleteArtist()">
        <div class="form-group">
            <select name="chosenArtist" class="form-control" [(ngModel)]="chosenArtist">
                <option selected disabled>Choose...</option>
                <option *ngFor="let artist of artists" value="{{artist.Name}}">{{artist.Name}}</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Delete</button>
        <h6>WARNING: This will also delete all related events!</h6>
    </form>
</div>