<div class="card mb-4 box-shadow">
    <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
        alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;"
        src="{{pictureLink}}"
        data-holder-rendered="true">
    <div class="card-body">
        <div class="text-center">
            <h4>{{eventData.Artist.Name}}</h4>
            <small class="text-muted">{{eventData.Artist.Genre}} • {{eventData.Type}}</small>

            <p class="card-text">{{eventData.Location.Country}} • {{eventData.Location.City}} • {{eventData.Location.Name}}</p>
            <p class="card-text">{{dateString}}</p>
        </div>
        <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
                <button type="button" (click)="purchase()" class="btn btn-sm btn-outline-secondary">Buy a Ticket</button>

            </div>
            <h6 class="text-muted">{{eventData.Price}}$</h6>
        </div>
    </div>
</div>