<div class="container-flex">
    
    <h5>Select the location to remove...</h5>
    
    <form (ngSubmit)="deleteLocation()">
        <div class="form-group">
            <select name="location" class="form-control" [(ngModel)]="chosenLocation">
                <option selected disabled>Choose...</option>
                <option *ngFor="let location of locations" value="{{location.Name}}">{{location.Name}}</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Delete</button>
        <h6>WARNING: This will also delete all related events!</h6>
    </form>
</div>