<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="home">
        <img src="assets/image/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
        SoundScout
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenu"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarMenu">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" [ngClass]="{'active' : activeTabIndex == 0}">
                <a class="nav-link" href="home">Home <span class="sr-only"></span></a>
            </li>
            <li class="nav-item" *ngIf="isLoggedIn" [ngClass]="{'active' : activeTabIndex == 1}">
                <a class="nav-link" href="profile">Profile</a>
            </li>
            <li class="nav-item" *ngIf="isLoggedIn && isAdmin" [ngClass]="{'active' : activeTabIndex == 2}">
                <a class="nav-link" href="admin">Administration</a>
            </li>
        </ul>

        <ul class="navbar-nav ms-auto">
            <li class="nav-item" [ngClass]="{'active' : activeTabIndex == 3}">
                <a class="nav-link" href="login" *ngIf="!isLoggedIn">Login</a>
            </li>
            <li class="nav-item" [ngClass]="{'active' : activeTabIndex == 4}">
                <a class="nav-link" href="register" *ngIf="!isLoggedIn">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="logout()" *ngIf="isLoggedIn">Log-Out</a>
            </li>
        </ul>
    </div>
</nav>