<div class="container-flex">
    
    <h5>Select the user to give admin access...</h5>
    
    <form (ngSubmit)="giveAdmin()">
        <div class="form-group">
            <select name="chosenUser" class="form-control" [(ngModel)]="chosenUser">
                <option selected value='' disabled>Choose...</option>
                <option *ngFor="let user of users" value="{{user.username}}">{{user.username}}</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Give Admin Privilege</button>
    </form>
</div>