<div class="container-flex">
    
    <h5>Select the event to remove...</h5>
    
    <form (ngSubmit)="deleteEvent()">
        <div class="form-group">
            <select name="chosenEvent" class="form-control" [(ngModel)]="chosenEvent">
                <option selected value='' disabled>Choose...</option>
                <option *ngFor="let event of events" value="{{event.eventName}}">{{event.eventName}}</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Delete</button>
    </form>
</div>