<div class="container-flex">
    <h5>Please provide event information here: </h5>

    <form (ngSubmit)="addEvent()">
        <div class="form-group">
            <label>Event Name</label>
            <input type="text" class="form-control" name="name" placeholder="Name" [(ngModel)]="name">
        </div>
        <div class="form-group">
            <label>Type</label>
            <select name="type" class="form-control" [(ngModel)]="type">
                <option selected value = '' disabled>Choose...</option>
                <option value="Concert">Concert</option>
                <option value="Festival">Festival</option>
            </select>
        </div>
        <div class="form-group">
            <label>Location</label>
            <select name="location" class="form-control" [(ngModel)]="location">
                <option selected value = '' disabled>Choose...</option>
                <option *ngFor="let location of locations" value="{{location.Name}}">{{location.Name}}</option>
            </select>
        </div>

        <div class="form-group">
            <label>Artist</label>
            <select name="artist" class="form-control" [(ngModel)]="artist">
                <option selected value = '' disabled>Choose...</option>
                <option *ngFor="let artist of artists" value="{{artist.Name}}">{{artist.Name}}</option>
            </select>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label>Price</label>
                <input type="text" class="form-control" name="price" placeholder="0.0$" [(ngModel)]="price">
            </div>

            <div class="form-group col-md-6">
                <label>Maximum number of tickets</label>
                <input type="text" class="form-control" name="maxTickets" placeholder="1000" [(ngModel)]="maxTickets">
            </div>
        </div>

        <div class="form-group">
            <label>Date</label>
            <input type="date" class="form-control" name="date" [(ngModel)]="date">
        </div>
        
        <div class="form-row">
        <button type="submit" class="btn btn-primary">Add</button>
        <button type="button" class="btn btn-secondary">Add a picture</button>
        </div>
    </form>
</div>