<div class="container-flex">
    
    <h5>Please provide artist information here: </h5>
    
    <form (ngSubmit)="addArtist()">
        <div class="form-group col-md-12">
            <label>Name</label>
            <input type="text" class="form-control" name="name" required placeholder="Name" [(ngModel)]="name">
        </div>
        <div class="form-group col-md-12">
            <label>Genre</label>
            <input type="text" class="form-control" name="genre" required placeholder="Genre" [(ngModel)]="genre">
        </div>
        <button type="submit" class="btn btn-primary">Add</button>
    </form>
</div>